:root {
    --neon-blue: #03D8F3;
    --yellow: #FCEE0C;
    --dark-gray: #5D737E;
    --light-gray: #F5F5F5;
}


@font-face {
    font-family: 'violence';
    src: url(../fonts/violenceRaw.ttf) format('truetype'),
        url(../fonts/violence-raw-webfont.woff2) format('woff2'),
        url(../fonts/violence-raw-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'violenceswash';
    src: url(../fonts/violenceSwash.ttf) format('truetype'),
        url(../fonts/violence_swash-webfont.woff2) format('woff2'),
        url(../fonts/violence_swash-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat-bold';
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
}

* {
    font-size: 18px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'violence', sans-serif;
    font-size: 75px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
div {
    overflow: hidden;
}
*/

.header {
    background-color: var(--yellow);
    padding: 15px;
    overflow: hidden;
}

.logo {
    margin-left: 30px;
}

#nav {
    float: right;
}

#nav a {
    text-decoration: none;
    color: #000;
    border-left: 2px solid var(--neon-blue);
    padding: 20px;
    margin-right: 50px;
    font-family: 'montserrat-bold';
    display: inline-block;
}

#nav li:hover {
    background-color: rgba(0, 0, 0, .25);
    border: 2px solid var(--neon-blue);
}

.header div ul li {
    display: inline-block;
}

.header div ul {
    list-style-type: none;
    margin-top: 25px;
}


.header-image {
    background-color: #000;
}


.header-image h1 {
    color: var(--yellow);
    font-family: 'violence', sans-serif;
    font-size: 6em;
    position: absolute;
    top: 250px;
    /* find left in pixels */
    left: 45%;
    text-shadow: 2px 3px var(--neon-blue);
}

.header-image img {
    mask-image: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 0, .5));
    height: 450px;
    width: 100%;
    position: relative;
    display: block;
}

.float-left {
    float: left;
    margin-right: 40px;
}


.format {
    background-color: #fff;
    padding: 70px 50px 125px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.title {
    text-shadow: 2px 3px #000;
    color: #de41cd;
}

.profile-picture {
    max-width: 150px;
}

.profile-picture img {
    border-radius: 50%;
    height: auto;
    width: 317px;
    margin-top: 65px;
    margin-left: 20px;
    margin-bottom: 51px;
}


.contact {
    background-color: var(--yellow);
    color: #000;
    border: 2px solid var(--neon-blue);
    padding: 15px;
    font-family: 'montserrat-bold', sans-serif;
    float: inline-start;
    margin-top: 20px;
    transform: skew(-10deg);
    text-decoration: none;
}

.contact:hover {
    background-color: var(--neon-blue);
    color: #000;
    border: 2px solid #de41cd;
}

#projects {
    background-color: var(--light-gray);
}

#projects h2 {
    text-align: center;
}

.row {
    margin: 0 -5px;
    height: 300px;
}

.row:after {
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 32%;
    padding: 0 10px;
}

/* Card styling */
.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
    background: var(--light-gray);
}

.card:hover {
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
    transform: scale(1.2, 1.2);
}

.card img {
    width: 100%;
}

.card p {
    text-align: center;
    font-family: 'montserrat-bold', sans-serif;
    margin-top: 10px;
}

/* End card styling */

/* Contact Me Section */
#contact-me h2 {
    text-align: center;
}

/* box in contact section */
.form {
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 20px;
    background-color: var(--light-gray);
    font-family: 'monserrat-bold', sans-serif;
    text-align: center;
    line-height: 30px;
    width: 50%;
    margin: auto;
}

/* Social Media logo positioning */
.logos li {
    display: inline-block;
    position: relative;
    padding-right: 35px;
    margin-top: 40px;
}

.footer {
    background-color: var(--dark-gray);
    text-align: center;
    padding: 10px;
    position: relative;
}

.footer p {
    color: var(--yellow);
    font-family: 'violence', sans-serif;
    text-shadow: 2px 3px #000;
    font-size: 34px;
    margin-top: 20px;
}

/* Media Query Responsiveness */

/*Mobile */
/*Update float left on profile picture */
@media only screen and (max-width: 767px) {
    h2 {
        font-size: 55px;
        text-align: center;
    }

    .logo {
        display: block;
        margin-left: 100px;
        margin-right: auto;
        width: 40%;
    }

    #nav {
        float: none;
        width: 100%;
        text-align: center;
    }

    .header div ul li {
        display: block;
    }

    #nav li:hover {
        background-color: none;
        border: none;
    }

    #nav a {
        border-bottom: 2px solid var(--neon-blue);
        border-left: none;
        margin: 0;
        float: none;
        width: 100%;
    }

    .header-image img {
        height: 300px;
    }

    .header-image h1 {
        font-size: 3em;
        /* change into pixels */
        top: 50%;
        left: 16%;
    }

    .profile-picture img {
        width: 150px;
        margin-top: 0;
        margin-left: 60px;
        margin-bottom: 40px;
    }

    .format {
        padding: 25px 25px 100px 25px;
    }

    .contact {
        float: inline-start;
        transform: none;
        margin-left: 50px;
        margin-top: 0;
    }

    .form {
        width: 80%;
    }

    .logos li {
        margin-top: 20px;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .logos img {
        margin-left: 35px;
    }
}

/* Tablet Responsiveness */
@media (max-width: 900px) {
    h2 {
        font-size: 55px;
        text-align: center;
    }

    .logo {
        display: block;
        margin-left: 100px;
        margin-right: auto;
        width: 40%;
    }

    #nav {
        float: none;
        width: 100%;
        text-align: center;
    }

    .header div ul li {
        display: block;
    }

    #nav li:hover {
        background-color: none;
        border: none;
    }

    #nav a {
        border-bottom: 2px solid var(--neon-blue);
        border-left: none;
        margin: 0;
        float: none;
        width: 100%;
    }

    .header-image img {
        height: 300px;
    }

    .header-image h1 {
        font-size: 3em;
        top: 93%;
        left: 16%;
    }

    .profile-picture img {
        width: 150px;
        margin-top: 0;
        margin-left: 60px;
        margin-bottom: 40px;
    }

    .format {
        padding: 25px 25px 100px 25px;
    }

    .contact {
        float: inline-start;
        transform: none;
        margin-left: 50px;
        margin-top: 0;
    }

    .form {
        width: 80%;
    }

    .logos li {
        margin-top: 20px;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .logos img {
        margin-left: 35px;
    }
}