:root {
    --neon-blue:#03D8F3;
    --yellow: #FCEE0C;
    --dark-gray: #8F8389;
    --light-gray: #FCEFEF;
}


@font-face {
    font-family: 'violence';
    src: url(../fonts/violenceRaw.ttf) format('truetype'),
         url(../fonts/violence-raw-webfont.woff2) format('woff2'),
         url(../fonts/violence-raw-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'violenceswash';
    src: url(../fonts/violenceSwash.ttf) format('truetype'),
         url(../fonts/violence_swash-webfont.woff2) format('woff2'),
         url(../fonts/violence_swash-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat-bold';
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
}


.header {
    background-color: var(--yellow);
    padding: 25px;
}

/* Resize and fix logo
#logo {
    height: 150px;
    margin-bottom: 0 !important;
    max-width: 250px;
     width: 250px;
}
*/

#nav {
    float: right;
}

#nav a {
    text-decoration: none;
    color: #000;
    border-left: 2px solid var(--neon-blue);
    padding: 20px;
    margin-right: 50px;
    font-family: 'montserrat-bold';
    display: inline-block;
}

/* Need to figure out how to make it reach entire width */
#nav li:hover {
    background-color: rgba(0, 0, 0, .25);
    border: 2px solid var(--neon-blue);
}

.header div ul li {
    display: inline-block;
}

.header div ul {
    list-style-type: none;
    margin-top: 25px;
}

.header-image {
    background-color: #000;
}

.header-image img {
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0, 0, 0, .25));
    height: 650px;
    width: 100%;
}

.header-image #base {
    color: #03D8F3;
    font-family: 'violence', sans-serif;
    font-size: 6em; 
    position: absolute;
    top: 40%;
    left: 50%;
}

.header-image #layer {
    color: #FCEE0C;
    font-family: 'violence', sans-serif;
    font-size: 6em; 
    position: absolute;
    top: 39.5%;
    left: 50%;
}

#about-me {
    background-color: #fff;
}

#about-me img {
    border-radius: 50%;
    height: 15%;
    width: 15%;
}